<div class= "form-group">
  <%=f.label :college_name, "College" %>
  <%=f.text_field :college_name, class: "form-control" %>
</div>
<div class= "form-group">
  <%=f.label :tuition_and_fees, "Tuition & Fees" %>
  <%=f.text_field :tuition_and_fees, class: "form-control" %>
</div>
<div class= "form-group">
<%=f.label :housing_meals, "Housing & Meals" %>
<%=f.text_field :housing_meals, class: "form-control"%>
</div>
<div class= "form-group">
<%=f.label :books, "Books" %>
<%=f.text_field :books,class: "form-control" %>
</div>
<div class= "form-group">
  <%=f.label :transportation, "Transportation" %>
  <%=f.text_field :transportation, class: "form-control" %>
</div>
<div class= "form-group">
  <%=f.label :other, "Other" %>
  <%=f.text_field :other, class: "form-control" %>
</div>
<div class= "form-group">
  <%=f.label :school_grant, "School Grant" %>
  <%=f.text_field :school_grant, class: "form-control" %>
</div>
<div class= "form-group">
  <%=f.label :pell, "Pell Grant" %>
  <%=f.text_field :pell, class: "form-control" %>
</div>
<div class= "form-group">
  <%=f.label :state_grant, "State Grant" %>
  <%=f.text_field :state_grant, class: "form-control" %>
</div>
<div class= "form-group">
  <%=f.label :other_scholarship, "Other Scholarships" %>
  <%=f.text_field :other_scholarship, class: "form-control" %>
</div>

<div class= "form-group">
  <%=f.label :work_study, "Work Study" %>
  <%=f.text_field :work_study, class: "form-control" %>
</div>
<div class= "form-group">

<div class= "form-group">
  <%=f.label :perkins, "Perkins" %>
  <%=f.text_field :perkins, class: "form-control" %>
</div>
<div class= "form-group">
  <%=f.label :sub_stafford, "Federal Direct Subsidized Loan (Stafford)" %>
  <%=f.text_field :sub_stafford, class: "form-control" %>
</div>
<div class= "form-group">
  <%=f.label :unsub_stafford, "Federal Direct Unsubsidized Loan (Stafford)" %>
  <%=f.text_field :unsub_stafford, class: "form-control" %>
</div>



