<% provide(:title, @student.full_name) %>
<br>
<%= render 'shared/college_picture', s: @student, p: @package %>
<br>
<h3 class="med-green">
These are the costs that <%= @package.college_name %> projects.  What do you think?
</h3>
<div class="col-sm-10 col-sm-offset-1">
<table class="table table-condensed">
  <%= form_tag student_semester_package_path(@student, @package), method: :put do %>
  <tr>
    <td class="strong dark-green">Cost of Attendance</td>
    <td class="strong dark-green" align="right">What <%=@package.college_name %> thinks you need</td>
    <td class="strong dark-green" align="right">What do you think you'll need?</td>
  </tr>
  <tr>
    <td>Tuition & Fees</td>
    <td align="right"><%=number_to_currency(@package.tuition_and_fees)%></td>
    <td align="right"><%=number_to_currency(@package.tuition_and_fees)%></td>
  </tr>
  <tr>
    <td>Housing & Meals</td>
    <td align="right"><%=number_with_precision(@package.housing_meals, precision: 2, delimiter: ",")%></td>
    <td align="right"><%=text_field_tag :my_housing, @package.my_housing, id: "my_housing"%></td>
  </tr>
  <tr>
    <td>Books</td>
    <td align="right"><%=number_with_precision(@package.books, precision: 2, delimiter: ",")%></td>
    <td align="right"><%=text_field_tag :my_books, @package.my_books, id: "my_books"%></td>
  </tr>
  <tr>
    <td>Transportation</td>
    <td align="right"><%=number_with_precision(@package.transportation, precision: 2, delimiter: ",")%></td>
    <td align="right"><%=text_field_tag :my_transportation, @package.my_transportation, id: "my_transportation"%></td>
  </tr>
  <tr>
    <td>Other Educational Costs</td>
    <td align="right"><%=number_with_precision(@package.other, precision: 2, delimiter: ",")%></td>
    <td align="right"><%=text_field_tag :my_other, @package.my_other, id: "my_other"%></td>
  </tr>
  <tr>
    <td class="strong">Total Cost of Attendance</td>
    <td class="strong" align="right"><%=number_to_currency(@package.coa)%></td>
    <td class="strong" align="right"><%=number_to_currency(@package.my_coa)%></td>
  </tr>
  <tr>
    <td>School Grants</td>
    <td align="right"><%=number_with_precision(@package.school_grant, precision: 2, delimiter: ",")%></td>
    <td align="right"><%=number_with_precision(@package.school_grant, precision: 2, delimiter: ",")%></td>
  </tr>
  <tr>
    <td>Pell Grant</td>
    <td align="right"><%=number_with_precision(@package.pell, precision: 2, delimiter: ",")%></td>
    <td align="right"><%=number_with_precision(@package.pell, precision: 2, delimiter: ",")%></td>
  </tr>
  <tr>
    <td>State Grant</td>
    <td align="right"><%=number_with_precision(@package.state_grant, precision: 2, delimiter: ",")%></td>
    <td align="right"><%=number_with_precision(@package.school_grant, precision: 2, delimiter: ",")%></td>
  </tr>
  <tr>
    <td>Other Scholarships</td>
    <td align="right"><%=number_with_precision(@package.other_scholarship, precision: 2, delimiter: ",")%></td>
    <td align="right"><%=text_field_tag :my_other_scholarship, @package.my_other_scholarship, id: "my_other_scholarship"%></td>
  </tr>
  <tr>
    <td class="strong">Net Cost</td>
    <td class="strong" align="right"><%=number_to_currency(@package.net_cost)%></td>
    <td class="strong" align="right"><%=number_to_currency(@package.my_net_cost)%></td>
  </tr>
  <tr>
    <td>Work Study</td>
    <td align="right"><%=number_with_precision(@package.work_study, precision: 2, delimiter: ",")%></td>
    <td align="right"><%=text_field_tag :my_work_study, @package.my_work_study%></td>
  </tr>
  <tr>
    <td>Perkins Loan</td>
    <td align="right"><%=number_with_precision(@package.perkins, precision: 2, delimiter: ",")%></td>
    <td align="right"><%=number_with_precision(@package.perkins, precision: 2, delimiter: ",")%></td>
  </tr>
  <tr>
    <td>Direct Federal Subsidized Loan (Stafford)</td>
     <td align="right"><%=number_with_precision(@package.sub_stafford, precision: 2, delimiter: ",")%></td>
     <td align="right"><%=number_with_precision(@package.sub_stafford, precision: 2, delimiter: ",")%></td>
  </tr>
  <tr>
    <td>Direct Federal Unsubsidized Loan (Stafford)</td>
    <td align="right"><%=number_with_precision(@package.unsub_stafford, precision: 2, delimiter: ",")%></td>
    <td align="right"><%=number_with_precision(@package.unsub_stafford, precision: 2, delimiter: ",")%></td>
  </tr>
  <tr>
    <td>Parental Contribution</td>
    <td align="right"><%=number_to_currency(@package.family_contribution)%></td>
    <td align="right"><%=text_field_tag :my_family_contribution, @package.my_family_contribution%></td>
  </tr>
  <tr>
    <td class="strong">Unmet Need (Private Loan)</td>
    <td class="strong" align="right"><%=number_to_currency(@package.unmet_need)%></td>
    <td class="strong" align="right"><%=number_to_currency(@package.my_unmet_need)%></td>
  </tr>
  <tr>
    <td class="strong">Total Debt Balance at Graduation</td>
    <td class="strong" align="right"><%=number_to_currency(@package.debt_balance)%></td>
    <td class="strong" align="right"><%=number_to_currency(@package.my_debt_balance)%></td>
  </tr>
  <tr>
    <td class="strong">Projected Monthly Payment (20 years)</td>
    <td class="strong" align="right"><%=number_to_currency(@package.monthly_payment(20))%></td>
    <td class="strong" align="right"><%=number_to_currency(@package.my_monthly_payment(20))%></td>
  </tr>
  <tr class="success">
    <td class="strong">Projected Monthly Payment (15 years)</td>
    <td class="strong" align="right"><%=number_to_currency(@package.monthly_payment(15))%></td>
    <td class="strong" align="right"><%=number_to_currency(@package.my_monthly_payment(15))%></td>
  </tr>

</table>
<%= submit_tag "Calculate Changes", class: "btn btn-primary" %>
<% end %>
</div>

<script>
  function get_coa() {
   $.ajax({
      url: '/my_coa',
      dataType: "json",
      type: "POST",
      data: { my_housing: $("#my_housing").val(), my_books: $("#my_books").val() },
        my_transportation: $("#my_transportation").val() },
        my_transportation: $("#my_other").val() },
      success: function(result) { $("#my_coa").text(result); }
      }
   });
}
</script>

